.card-header{
    
    background-color: #009690;
    color: white;
    font-weight: bold;

}
.login{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.botones{
    background: #009690;
}
.titulos_tabla{
    background-color: #f5f5f5;
}
.tabla{
    text-align: center;
}
.url_detalle{
    text-decoration: none;
    color: black;
}
a:link, a:visited, a:active {
    text-decoration:none;
}

.botones_detalle {
    background:#009690 ;
    border: 1px solid black;
    cursor:default !important;
    color: white;
}

.botones_detalle:hover, .botones_detalle:active  {
    background:#009690 ;
    text-decoration: none;
    cursor:default !important;
    color: white;

}
.botones_detalle2:hover, .botones_detalle2:active  {
    background:#009690 ;
    text-decoration: none;
   cursor:default !important;
    color: white;

}
.botones_detalle:disabled {
    background:#009690 ;
    color: white;
    opacity: .50;
}

#datatable_paginate {
    float:left;
}
#datatable_info {
    float: right;
}
.footer_table {
    background-color: #f5f5f5;
    margin-left: 0px;
    margin-right: 0px;
}   